body {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

/* start header */
.header-bar {
    width: 100%;
    background-color: #1a4845;
    color: #fff;
    text-align: center;
    font-size: 12px;
    position: relative;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

}


.header-bar span {
    font-weight: 1000;
    cursor: pointer;
}

/* start bar-two */
.header .bar-two {
    width: 100%;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid rgb(222, 224, 234);
    display: flex;
    flex-direction: row;

}


.bar-two .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 0.225rem;
    padding-bottom: 0.225rem;
    align-items: center;
    justify-content: space-between;


}

.bar-two span {
    cursor: pointer;
}

.bar-two p {
    color: #54595F;
    font-weight: 500;
    margin-left: 20px;
}

.bar-two p span {
    color: #ee403d;
    font-weight: 500;

}

nav {
    color: black;
    font-weight: 500;

    display: flex;
    flex-direction: row;

}

nav a {
    text-decoration: none;
    color: black;
}

.fa-instagram {
    font-size: 12px;
    font-weight: 500;
}

.Followers {
    font-size: 12px !important;
    font-weight: 600;
    letter-spacing: .5px;
    margin-left: 3px;
    font-family: Jost;
}

.bar-two .right-items {
    float: right;

}

.right-items button {
    background-color: #fff;
    border: none;
    color: #54595F;

}

/* third bar */
.bar-three {
    width: 100%;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid rgb(222, 224, 234);
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.right-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.three-lines{
    cursor: pointer;
}
.three-lines div:nth-child(1) , 
.three-lines div:nth-child(2), 
.three-lines div:nth-child(3) {
    background-color: #111;
    height: 1px;
    width: 20px;
    margin-bottom: 7px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s;
}

.sidenav .main-menu{
    font-weight: bold;
    font-family: jost;
    
}

.sidenav h3{
    color: #000;
    margin-bottom: 30px;
    font-weight: 1000;
}

.sidenav .menu-content{
    padding-left: 20px;
    
}

.menu-content .tittle{
    margin-bottom: 5px;
}

.menu-content .home-tittle{
    margin-top: 10px;
}

.menu-content .tittle::after {
    display: inline-block;
    text-align: left;
    position: absolute;
    right: 10px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-left: .3em solid rgba(0, 0, 0, 0);
}
.vertical-menu{
    margin-top: 10px;
    margin-bottom: 20px;
}

.line{
    background-color: #a4a7ab;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}


.sidenav a {
    color: rgb(0, 0, 0);
    padding: 5px 5px  8px;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



.logo{
    color: black;
margin-left: 20px;
font-size: 50px;
font-weight: bolder;
}