.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    font-family: sans-serif, jost;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}


/* side-nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s;
}

.sidenav .main-menu {
    font-weight: bold;
    font-family: jost;

}

.sidenav h3 {
    color: #000;
    margin-bottom: 30px;
    font-weight: 1000;
}

.sidenav .menu-content {
    padding-left: 20px;

}

.menu-content .tittle {
    margin-bottom: 5px;
}

.menu-content .home-tittle {
    margin-top: 10px;
}

.menu-content .tittle::after {
    display: inline-block;
    text-align: left;
    position: absolute;
    right: 10px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-left: .3em solid rgba(0, 0, 0, 0);
}

.vertical-menu {
    margin-top: 10px;
    margin-bottom: 20px;
}

.line {
    background-color: #e0e0e0;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}


.sidenav a {
    color: rgb(0, 0, 0);
    padding: 5px 5px 8px;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* end sidenav */


/* start header */
.header-bar {
    width: 100%;
    background-color: #1a4845;
    color: #fff;
    text-align: center;
    font-size: 12px;
    position: relative;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

}


.header-bar span {
    font-weight: 1000;
    cursor: pointer;
}

/* start bar-two */
.header .bar-two {
    width: 100%;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid rgb(222, 224, 234);
    display: flex;
    flex-direction: row;

}


.bar-two .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 0.225rem;
    padding-bottom: 0.225rem;
    align-items: center;
    justify-content: space-between;


}

.bar-two span {
    cursor: pointer;
}

.bar-two p {
    color: #54595F;
    font-weight: 500;
    margin-left: 20px;
}

.bar-two p span {
    color: #ee403d;
    font-weight: 500;

}

nav {
    color: black;
    font-weight: 500;

    display: flex;
    flex-direction: row;

}

nav a {
    text-decoration: none;
    color: black;
}

.fa-instagram {
    font-size: 12px;
    font-weight: 500;
}

.Followers {
    font-size: 12px !important;
    font-weight: 600;
    letter-spacing: .5px;
    margin-left: 3px;
    font-family: Jost;
}

.bar-two .right-items {
    float: right;

}

.right-items button {
    background-color: #fff;
    border: none;
    color: #54595F;

}

/* third bar */
.bar-three {
    width: 100%;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid rgb(222, 224, 234);
    height: 100px;

}

.bar-three .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-items {

    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;

}

.three-lines {
    cursor: pointer;
}

.three-lines div:nth-child(1),
.three-lines div:nth-child(2),
.three-lines div:nth-child(3) {
    background-color: #111;
    height: 1px;
    width: 20px;
    margin-bottom: 7px;
}



.logo {
    color: black;
    margin-left: 20px;
    font-size: 50px;
    font-weight: bolder;
}

.central-items {
    flex: 0.8;
}

.central-items .search-bar {
    flex: 2;
    width: 100%;
    float: right;
    background-color: #fafafa;

}


.search-bar .search-btn {
    height: 36px;
    border: none;
    background-color: #fafafa;

    border: .5px solid #e0e0e0;
}

.fa-user,
.fa-heart {
    font-size: 15px;
}

.bar-three .right-items {
    cursor: pointer;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #000;
}

.fa-heart {
    position: relative;
}

.bar-three .right-items .fa-heart::after {
    content: "0";
    font-size: x-small;
    background-color: red;
    color: #fff;
    width: 13px;
    height: 13px;
    text-align: center;
    vertical-align: baseline;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: -9px;
    right: 4px;
    padding: 0.5px;
}

.bar-three .right-items .fa-cart-shopping:after {
    content: "0";
    font-size: x-small;
    background-color: red;
    color: #fff;
    width: 13px;
    height: 13px;
    text-align: center;
    vertical-align: baseline;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: -9px;
    right: 4px;
    padding: 0.5px;
}



/* bar-four */

.bar-four {
    width: 100%;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid rgb(222, 224, 234);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.bar-four .container {
    position: relative;
    display: flex;
    align-items: center;
}


.bar-four .left-items4 {
    float: left;
}

.left-items4 .collapse a,
.left-items4 .collapsing a  {
   padding: 15px 140px 0px 12px;
}

.left-items4 a {
    padding-top: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.bar-four .left-items4 .all-Categories{
 padding-right: 46px;
}
.left-items4 .collapse .rotate,
.left-items4 .collapsing .rotate {
    rotate: -89deg;
}

.left-items4 .collapse,
.left-items4 .collapsing {
    position: absolute;
    border-right: rgb(222, 224, 234) 1px solid;

}

/* .left-items4 .collapse,
.left-items4 .collapsing {
    padding: 8px 95px 7px 12px;
    ;

} */

.left-items4 span {
    font-size: 17px;

}

.left-items4 .women-content,
.left-items4 .men-content {
    position: absolute;
    left: 244px;
    height: 100%;
    border-right: rgb(222, 224, 234) 1px solid;
    display: none;
}

.left-items4 .women-content a,
.left-items4 .men-content a {
    padding-top: 10px;
    padding-left: 50px;
}


.left-items4 .square {
    font-size: x-small;
    background-color: #ee403d;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    margin: 10px;
}

.bar-four .separating-line {

    height: 60px;
    width: 1px;
    background-color: rgb(222, 224, 234);
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}


.right-items4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #000;
}


.right-items4 button {
    color: #000;
    margin-right: 30px;
    border: none;
    background-color: #fff;
    padding: 18px;
}


.right-items4 a {
    color: #000;
    margin-right: 50px;
    border: none;
    background-color: #fff;
}


.dropdown .menu {
    display: flex;
    padding: 20px;

}

.dropdown .menu ul,
.dropdown .menu li {
    text-decoration: none;
    list-style: none;
    width: 250px;
}

.dropdown .menu li {

    margin-right: 100px;
    margin-top: 10px;
}

.dropdown .menu span {
    opacity: 0.5;

}

.dropdown:hover>.dropdown-menu {
    
    display: block;

    box-shadow: none;
    border-radius: 0;

}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown:hover>.dropdown-menu1 {
    left: -11px;
    border-right: rgb(222, 224, 234) 1px solid;
    border-left: rgb(222, 224, 234) 1px solid;
    border-bottom: rgb(222, 224, 234) 1px solid;
}

.menu {
    background-color: #fff;
    border-right: rgb(222, 224, 234) 1px solid;
    border-left: rgb(222, 224, 234) 1px solid;
    border-bottom: rgb(222, 224, 234) 1px solid;
    position: relative;
    left: -400px;

}

/* Hero-Section */

.hero-section{
    width: 100%;
    
}

.carousel{
    width: 70%;
    height: 500px;
    position: relative;
    top: 30px;
    left: 306px;
}

.hero-section .slider-01 {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 1000;
    color: white;
}

.hero-section p{
    font-size: 100px;
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 1000;
    color: white;
}